<% provide :title, "web小説を検索する" %>
<div class="container">
  <h3 class="mt-4">web小説を検索する</h1>
  <div class="search-box mt-4">
    <%= render "shared/narous_search" %>
    <% if @narous.present? && @narous[0]["allcount"] != 0%>
      <%= render "narous/result", narous: @narous %>
      <p class="text-center mb-2">検索結果は最大10件までとなります。見つからない場合はより正確なキーワードをご入力ください</p>
    <% end %>
  </div>
</div>
