
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">登録された小説一覧</h1>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>

  <div class="album py-5">
    <div class="container">
      <div class="row">
      <% @novels.each do |novel| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %}
            <div class="card-body">
              <h5 class="card-title"><%= novel.novel_name %></h5>
              <p class="card-text"><%= novel.impression %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
