<% provide :title, "書籍を検索する" %>
<div class="container">
  <h3 class="mt-4">書籍を検索する</h1>
  <div class="search-box mt-4">
    <%= render "shared/books_search" %>
    <% if @books.present? %>
      <%= render "books/result", books: @books %>
    <% end %>
  </div>
</div>
